.home {
  background-color: pink;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    display: flex;
    width: 70%;
    height: 80%;
    border: 1px solid white;
    border-radius: 10px;
    overflow: hidden;

    .sidebar {
      flex: 1;
      background-color: teal;
      position: relative;

      .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(2, 68, 68);
        padding: 10px;
        height: 50px;

        .left {
          .logo {
            font-weight: bold;
            color: white;
          }
        }

        .right {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-right: 10px;

          .avatar {
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 50%;
          }

          p {
            color: white;
            text-transform: capitalize;
          }
        }
      }

      .search {
        border-bottom: 1px solid white;

        .searchForm {
          padding: 10px;

          input {
            background-color: transparent;
            border: none;
            color: white;
            outline: none;

            &::placeholder {
              color: white;
            }
          }
        }

        .userChat {
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 10px;
          margin-left: 20px;
          color: white;
          cursor: pointer;

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }

          .userChatInfo {
            span {
              text-transform: capitalize;
            }
          }
        }
      }

      .chats {
        .userChat {
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 10px;
          margin-left: 20px;
          color: white;
          cursor: pointer;

          &:hover {
            background-color: blue;
          }

          img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 50%;
          }

          .userChatInfo {
            span {
              font-size: 18px;
              text-transform: capitalize;
              font-weight: 500;
            }

            p {
              font-style: 14px;
              color: lightgray;
            }
          }
        }
      }
    }

    .chat {
      flex: 2;

      .chatInfo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        height: 50px;
        background-color: teal;
        color: white;

        span {
          text-transform: capitalize;
        }

        .chatIcons {
          display: flex;
          align-items: center;
          gap: 20px;

          .icons {
            cursor: pointer;
          }
        }
      }

      .messages {
        padding: 10px;
        overflow: scroll;
        height: calc(100% - 160px);

        .message {
          padding: 10px;
          display: flex;
          gap: 20px;

          .messageInfo {
            display: flex;
            flex-direction: column;
            color: gray;

            img {
              width: 40px;
              height: 40px;
              object-fit: cover;
              border-radius: 50%;
            }

            span {
              text-transform: capitalize;
            }
          }

          .messageInfo {
            display: flex;
            flex-direction: column;
            color: gray;
            font-weight: 300;

            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
            }
          }

          .messageContent {
            max-width: 80%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            p {
              background-color: white;
              padding: 10px 20px;
              border-radius: 0px 10px 10px 10px;
              max-width: max-content;
            }

            img {
              width: 50%;
            }
          }

          &.owner {
            flex-direction: row-reverse;

            .messageContent {
              align-items: flex-end;

              p {
                background-color: lightblue;
                color: white;
                border-radius: 10px 0px 10px 10px;
              }
            }
          }
        }
      }

      .input {
        height: 50px;
        background-color: white;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
          width: 100%;
          border: none;
          outline: none;
          color: gray;
          font-size: 18px;

          &::placeholder {
            color: lightgray;
          }
        }

        .send {
          display: flex;
          align-items: center;
          gap: 10px;

          .img-upload {
            font-size: 20px;
            cursor: pointer;
          }
        }

        button {
          background-color: rgb(60, 60, 206);
          border: none;
          font-size: 18px;
          padding: 10px 15px;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}

.formContainer {
  background-color: teal;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .formWrapper {
    background-color: white;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    .logo {
      color: #5d5b8d;
      font-weight: bold;
      font-size: 24px;
    }

    .title {
      color: #5d5b8d;
      font-size: 12px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        padding: 15px;
        border: none;
        outline: none;
        width: 250px;
        border-bottom: 1px solid #a7bcff;

        &::placeholder {
          color: rgb(175, 175, 175);
        }
      }

      button {
        background-color: #7b96ec;
        color: white;
        padding: 10px;
        font-weight: bold;
        border: none;
        cursor: pointer;
      }

      label {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #8da4f1;
        font-size: 12px;
        cursor: pointer;

        img {
          width: 32px;
        }
      }
    }

    p {
      color: #5d5b8d;
      font-size: 12px;
      margin-top: 10px;
    }
  }
}
